def '{{moduleName}}', [], ( m ) ->
	nextEntityId = 0

	module =
		createEntity: ( args ) ->
			id = nextEntityId
			nextEntityId += 1

			entity =
				id: 'star ' +id
				components:
					"exampleComponents": {}
